.music.container {
    position: relative;
    top: 0;
    right: 0;
    width: 250px;
}

.music.panel {
    position: absolute;
    width: 250px;
}
.music.panel span:active,
.music.panel .playlist-item:active {
    color: #1a2020;
}

/* Playlist */
.music.panel.playlist {
    height: 209px;
    top: 0;

    overflow-y: auto;
}
.music.playlist .playlist-item {
    font-size: 14px;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #aaa;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
}
.music.playlist .playlist-item:first-child {
    border-top: none;
}
.music.playlist .playlist-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Controls */
.music.panel.controls {
    position: absolute;
    bottom: 0;

    width: 250px;
    height: 40px;
    text-align: center;
    line-height: 40px;

    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.9);
}
.music.panel span[class~='fa'] {
    margin: 0 20px;
    cursor: pointer;
}
.music.panel span[class~='fa-play'],
.music.panel span[class~='fa-pause'] {
    width: 26px;
}


.music.album-art {
    width: 250px;
    margin-bottom: -5px;
}

body {
    background-color: #f5f6f0;
    font-family: helvetica, georgia, sans-serif;
    color: #303438;

    margin: 20px;
}

@media (max-width: 499px) {
    body {
        margin: 0;
    }
    .music.container {
        box-shadow: 0 0 7px #888f80;
    }
    .music.panel.playlist {
        height: calc(100% - 40px);
    }
    .music.panel.controls {
        bottom: -1px;
    }
    .music.playlist .playlist-item {
        padding: 15px 10px;
    }
    .music.panel.controls,
    .music.panel,
    .music.container,
    .music.album-art {
        width: 100%;
    }
}
@media (max-width: 177px) {
    .music.panel.controls span[class~='fa'] {
        margin: 0 5px;
    }
    .music.panel.controls {
        min-width: 88px;
    }
}