@charset 'UTF-8';

body {
  margin: 0;
  color: #45413E;
  font-family: helvetica, verdana, sans-serif;
  line-height: 1.7em;
  background-color: #f8f8f8;
}
p, pre {
  max-width: 50rem;
}
h1, h2 {
  margin: 0;
  letter-spacing: 1px;
}
code, pre {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  font-family: courier, serif;
}
pre {
  margin: 0;
  padding: 15px;
  overflow: auto;
}
code {
  padding: 2px 5px;
}
p:last-child {
  margin-bottom: 0px;
}
header {
  padding: 40px;
}
.doc {
  padding: 20px;
}
@media (min-width: 760px) {
  .doc {
    padding: 40px;
  }
}

.green {
  background-color: #2f875f;
  color: #F8F8F8;
}

.token {
  color: #F87426;
}
.arg {
  color: #00A6ED;
}